@font-face {font-family: "Code"      ;src: url("/Frontend/Assets/Fonts/Code.woff2");}
@font-face {font-family: "Crooga"    ;src: url("/Frontend/Assets/Fonts/Crooga.ttf");}
@font-face {font-family: "Cursive"   ;src: url("/Frontend/Assets/Fonts/Cursive.ttf");}
@font-face {font-family: "Figtree"   ;src: url("/Frontend/Assets/Fonts/Figtree.ttf");}
@font-face {font-family: "Fonto"     ;src: url("/Frontend/Assets/Fonts/Fonto.otf");}
@font-face {font-family: "Milk-"     ;src: url("/Frontend/Assets/Fonts/Milk-.ttf");}
@font-face {font-family: "Milk"      ;src: url("/Frontend/Assets/Fonts/Milk.ttf");}
@font-face {font-family: "Nexa+"     ;src: url("/Frontend/Assets/Fonts/Nexa+.ttf");}
@font-face {font-family: "Nexa"      ;src: url("/Frontend/Assets/Fonts/Nexa.ttf");}
@font-face {font-family: "Rubik"     ;src: url("/Frontend/Assets/Fonts/Rubik.ttf");}
@font-face {font-family: "Slice"     ;src: url("/Frontend/Assets/Fonts/Slice.woff2");}
@font-face {font-family: "Typo"      ;src: url("/Frontend/Assets/Fonts/Typo.otf");}
@font-face {font-family: "Versel"    ;src: url("/Frontend/Assets/Fonts/Versel.woff2");}
