:root {
    color-scheme: light dark;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.516);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree;
}

button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}